
.container{
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
}

.left{
    flex: 2;
    order: 1;
}

.table {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
}

.row:last-child{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.right {
    order:2;
    flex: 1;
}

.status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.undone {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}

.undone .checkedIcon,
.inProgress .checkedIcon {
    opacity: 0;
}





